{% extends 'base.html' %}
{% block content %}
<form method="post">
    <div align = "center" class="select">
        <select data-placeholder= "Select a tournament" name = "tournament", id = "tournament", class = "search", style = "width: 200px;">
            <option value = ""></option>
            {% for i in listoftourney %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>    

<script type="text/javascript">
$(function() {
    $(".search").chosen();
});
</script>
{% endblock %}

