<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<section class="content">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<section class="content2">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content2 %}{% endblock %}
</section>
<section class="content3">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content3 %}{% endblock %}
</section>
<h1></h1>
<img src="{{ url_for('static',filename='images/{}.png'.format(blue[1]) ) }}">
<img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[1]) ) }}">
<h1></h1>
<img src="{{ url_for('static',filename='images/{}.png'.format(blue[2]) ) }}">
<img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[2]) ) }}">
<h1></h1>
<img src="{{ url_for('static',filename='images/{}.png'.format(blue[3]) ) }}">
<img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[3]) ) }}">
<h1></h1>
<img src="{{ url_for('static',filename='images/{}.png'.format(blue[4]) ) }}">
<img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[4]) ) }}">
<h1></h1>
<img src="{{ url_for('static',filename='images/{}.png'.format(blue[5]) ) }}">
<img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[5]) ) }}">
<h1></h1>




</body>

</html>