<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<section class="content">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<section class="content2">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content2 %}{% endblock %}
</section>
<section class="content3">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content3 %}{% endblock %}
</section>
<h1>Ekko</h1>
<img src="{{ url_for('static', filename='images/ekko.png') }}" class="image" />
<img align = "right" src="{{ url_for('static', filename='images/rumble.png') }}" class="image" />

<h1>olaf <span class = "right"> lee sin</span></h1>
<img src="{{ url_for('static', filename='images/olaf.png') }}" class="image" />
<img align = "right" src="{{ url_for('static', filename='images/leesin.png') }}" class="image" />

<h1>viktor</h1>


<img src="{{ url_for('static', filename='images/viktor.png') }}" class="image" />
<img align = "right" src="{{ url_for('static', filename='images/karma.png') }}" class="image" />


<h1>ezreal</h1>

<img src="{{ url_for('static', filename='images/ezreal.png') }}" class="image" />
<img align = "right" src="{{ url_for('static', filename='images/ashe.png') }}" class="image" />

<h1>zyra</h1>

<img src="{{ url_for('static', filename='images/zyra.png') }}" class="image" />
<img align = "right" src="{{ url_for('static', filename='images/missfortune.png') }}" class="image" />




</body>

</html>