body{
    background-color: black;
}
h1{
    color: white;
}
span{
    color: black;
}
.right{
    float:right;
}
img.one {
    height: 60px;
    width: 60px;
}
div{
    color: white;
}

