<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
</head>
<body>
  <section class="content">
    {% block content %}{% endblock %}
  </section>
  <section class="content2">
    {% block content2 %}{% endblock %}
    {% for message in get_flashed_messages() %}
    <div align = "center" class="flash">{{ message }}</div>
  {% endfor %}
  </section>

  <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[6])) }}">
  <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[7])) }}">
  <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[8])) }}">
  <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[9])) }}">
  <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[10])) }}">

  <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[6])) }}">
  <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[7])) }}">
  <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[8])) }}">
  <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[9])) }}">
  <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[10])) }}">


  <h1></h1>
  <img src="{{ url_for('static',filename='images/{}.png'.format(blue[1]) ) }}">
  <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[1]) ) }}">
  <h1></h1>
  <img src="{{ url_for('static',filename='images/{}.png'.format(blue[2]) ) }}">
  <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[2]) ) }}">
  <h1></h1>
  <img src="{{ url_for('static',filename='images/{}.png'.format(blue[3]) ) }}">
  <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[3]) ) }}">
  <h1></h1>
  <img src="{{ url_for('static',filename='images/{}.png'.format(blue[4]) ) }}">
  <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[4]) ) }}">
  <h1></h1>
  <img src="{{ url_for('static',filename='images/{}.png'.format(blue[5]) ) }}">
  <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[5]) ) }}">
  <h1></h1>




</body>

</html>