<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
</head>
<body>
  
  <section class="content">
      {% block content %}{% endblock %}
    </section>
  <section class="content2">
    {% block content2 %}{% endblock %}
  </section>
  
</section>
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[6])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[7])) }}">
    <img class = "one" style="margin-right: 20px;"  src ="{{ url_for('static', filename='images/{}.png'.format(blue[8])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[9])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[10])) }}">
    
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[6])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[7])) }}">
    <img align = "right" style="margin-left: 20px;"class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[8])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[9])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[10])) }}">
    
    {% block buttons %}{% endblock %}
    <div style="text-align: center;">
      <button id = "bluehint" type='button' onclick="toggleText('{{randomblue}}')">Random Blue Team Player</button>
  
      <button id = "redhint" type='button' onclick="toggleText2('{{randomred}}')">Random Red Team Player</button>
  </div>
    {%block attempts%}{% endblock %}
  </section>
 
  <section class = "topimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[1]) ) }}">
    
    
    <img align = "right"src="{{ url_for('static',filename='images/{}.png'.format(red[1]) ) }}">
    
  </section>
  

  <section class="guess1">
    
    <div style="text-align: center" class ="guess">
    <span id = "guess1y" style="color: white; font-size: 20px; display: inline;">

    </span> 
    <span id = "guess1t" style="color: white; font-size: 20px; display: inline;">

    </span> 
    <span id = "guess1s" style="color: white; font-size: 20px; display: inline;">
  
    </span> 
    </div>
  </section>


  <h2  class = "top">
    
      <span style="color: white;">Top</span>
      <span id="1" style='display: none; color: white;'>: {{blue[11]}}</span>
   
      
      <span class = "right" id="6" style='display: none; color: white;'>: {{red[11]}}</span>
      <span class = "right" style="color: white;"> Top</span>
  </h2>
   
  
  <section class = "jgimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[2]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[2]) ) }}">
  </section>
  
  
  <section class="guess2">
    <div style="text-align: center" class ="guess">
      <span id = "guess2y" style="color: white; font-size: 20px; display: inline;">
      </span> 
      <span id = "guess2t" style="color: white; font-size: 20px; display: inline;">
      
      </span> 
      <span id = "guess2s" style="color: white; font-size: 20px; display: inline;">
    
      </span> 
      </div>
  </section>


  <h2 class = "jg">
    
      <span style="color: white;">Jg</span>
      <span id="2" style='display: none; color: white;'>: {{blue[12]}}</span>
   
      
      <span class = "right" id="7" style='display: none; color: white;'>: {{red[12]}}</span>
      <span class = "right" style="color: white;"> Jg</span>
  </h2>


  <section class = "midimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[3]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[3]) ) }}">
  </section>
  
  
  <section class="guess3">
    <div style="text-align: center" class ="guess">
      <span id = "guess3y" style="color: white; font-size: 20px; display: inline;">

      </span> 
      <span id = "guess3t" style="color: white; font-size: 20px; display: inline;">
      
      </span> 
      <span id = "guess3s" style="color: white; font-size: 20px; display: inline;">
    
      </span> 
      </div>
  </section>
  <h2 class = "mid">
    
      <span style="color: white;">Mid</span>
      <span id="3" style='display: none; color: white;'>: {{blue[13]}}</span>

      
      <span class = "right" id="8" style='display: none; color: white;'>: {{red[13]}}</span>
      <span class = "right" style="color: white;"> Mid</span>
  </h2>
  

  <section class = "adcimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[4]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[4]) ) }}">
  </section>
  
  
  <section class="guess4">
    <div style="text-align: center" class ="guess"> 
      <span id = "guess4y" style="color: white; font-size: 20px; display: inline;">
      </span> 
      <span id = "guess4t" style="color: white; font-size: 20px; display: inline;">
      
      </span> 
      <span id = "guess4s" style="color: white; font-size: 20px; display: inline;">
    
      </span> 
      </div>
  </section>


    <h2 class = "adc">
     
        <span style="color: white;">Adc</span>
        <span id="4" style='display: none; color: white;'>: {{blue[14]}}</span>
      
        
        <span class = "right" id="9" style='display: none; color: white;'>: {{red[14]}}</span>
        <span class = "right" style="color: white;"> Adc</span>
    </h2>
  

  <section class = "supimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[5]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[5]) ) }}">
  </section>

  <section class="guess0">
    <div style="text-align: center">
      <span id = "guess0y" style="color: white; font-size: 20px; display: inline;">
      </span> 
      <span id = "guess0t" style="color: white; font-size: 20px; display: inline;">
      
      </span> 
      <span id = "guess0s" style="color: white; font-size: 20px; display: inline;">
    
      </span> 
      </div>
  </section>


  <h2 class = "sup">
    
      <span style="color: white;">Sup</span>
      <span id="5" style='display: none; color: white;'>: {{blue[15]}}</span>
    
      
      <span class = "right" id="10" style='display: none; color: white;'>: {{red[15]}}</span>
      <span class = "right" style="color: white;"> Sup</span>
  </h2>


{% block revealAll %}{% endblock %}
<script>
  //clears localStorage when I test site
  //localStorage.clear();
  
  if (localStorage){
    //if there is no streak initialize the streak
    if (localStorage.getItem('streak')==null){
      localStorage.setItem('streak',0);
    }
    //if the user has no data initialize the localstorage data for game stats that will always be there
    //these variables are total games played, amount of successful attempts, and variables for every number of possible attempts
    if (localStorage.getItem('numGames')==null){
      localStorage.setItem('numGames',0);
      localStorage.setItem('wins',0);
      localStorage.setItem('attempts1',0);
      localStorage.setItem('attempts2',0);
      localStorage.setItem('attempts3',0);
      localStorage.setItem('attempts4',0);
      localStorage.setItem('attempts5',0);
      localStorage.setItem('failures',0);

    }
    const counter = localStorage.getItem('streak');
    
    //check if the user has already played today 
    const id = "{{id}}";
    window.checkcomplete(id);
    const savedScores = localStorage.getItem('completed');
    
    const check = localStorage.getItem('done');
    console.log(localStorage);
    //commented out so I can test but on deployed site this automatically redirects to the completed webpages so the user has to wait to play the next day
    // if (savedScores == 'correct'){
    //   window.location.href = '/correct';
    // }
    // else if (savedScores == "incorrect"){
    //   window.location.href = '/incorrect';
    // }
    
    
  }
  //if browser does not support local storage
  else{
    console.log("not supported");
  }
</script>
</body>

</html>