<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>

<div class="fullpage">
<div class = "leftimages">
  <div>
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[6])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[7])) }}">
    <img class = "one" style="margin-right: 20px;"  src ="{{ url_for('static', filename='images/{}.png'.format(blue[8])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[9])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[10])) }}">
  </div>
  <div class = "blueteam">
    {{tourney[3]}}
  </div>
  <div>
  <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[1]) }}">
  <h2>
    <span class ="left" id="1" style='display: none; color: white;'>{{blue[11]}}</span>
  </h2>
  </div>
  <div>
    <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[2]) }}">
  <h2 class = "left">
    <span id="2" style='display: none; color: white;'>{{blue[12]}}</span>
  </h2>
  </div>
  <div>
    <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[3]) }}">
  <h2>
    <span class ="left" id="3" style='display: none; color: white;'>{{blue[13]}}</span>
  </h2>
  </div>
  <div>
    <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[4]) }}">
  <h2>
    <span class ="left" id="4" style='display: none; color: white;'>{{blue[14]}}</span>
  </h2>
  </div>
  <div>
    <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[5]) }}">
  <h2>
    <span class ="left" id="5" style='display: none; color: white;'>{{blue[15]}}</span>
  </h2>
  </div>
</div>
<div class = "guesses">
  <span class="tourney">{{tourney[1]}}</span>
  <span style="color: white; font-size: 30px; background-color: green;">Congratulations you got the correct answer in {{attempts}} attempt(s)</span>
  <div>
    <span id = "winratio" style="color: white; font-size: 20px;">Win rate: </span>
    <span id = "streak" style="color: white; font-size: 20px;"> Current Streak: </span>
  </div>
  <div>
    <canvas id="myChart" style="width:100%;max-width:600px;height: 300px;"></canvas>
  </div>
  {% if tourney and tourney[4] %}
  <div style="margin-top: 16px;">
    <div style="color: white; font-size: 18px; margin-bottom: 8px;">VOD</div>
    <div id="vod-embed" data-vod="{{ tourney[4] }}" style="width: 100%; height: 480px; max-width: 100%; border-radius: 8px; overflow: hidden; background: #000;"></div>
    <script>
      (function(){
        function parseTsToSeconds(v){
          if(!v) return 0;
          if(/^[0-9]+$/.test(v)) return parseInt(v,10);
          var total=0, num="";
          for(var i=0;i<v.length;i++){
            var ch=v[i];
            if(ch>='0'&&ch<='9'){ num+=ch; }
            else if((ch==='h'||ch==='m'||ch==='s') && num){
              var n=parseInt(num,10);
              if(ch==='h') total+=n*3600; else if(ch==='m') total+=n*60; else total+=n;
              num="";
            }
          }
          if(num) total+=parseInt(num,10);
          return total;
        }
        function buildEmbed(u){
          try{
            var a=document.createElement('a');
            a.href=u;
            var host=a.hostname||"";
            var path=a.pathname||"";
            var qs=(a.search||"").replace(/^\?/,'');
            var frag=(a.hash||"").replace(/^#/,'');
            var params=new URLSearchParams(qs);
            var id="";
            if(host.endsWith('youtu.be')){
              id=path.replace(/^\//,'');
            } else if(path.startsWith('/watch')){
              id=params.get('v')||"";
            } else if(path.startsWith('/live/')){
              id=path.split('/')[2]||"";
            } else if(path.startsWith('/shorts/')){
              id=path.split('/')[2]||"";
            }
            if(!id) return '';
            var start=0;
            if(params.has('start')){ start=parseInt(params.get('start')||'0',10)||0; }
            else if(params.has('t')){ start=parseTsToSeconds(params.get('t')); }
            else if(frag && frag.startsWith('t=')){ start=parseTsToSeconds(frag.slice(2)); }
            var base='https://www.youtube.com/embed/'+id;
            return start>0 ? (base+'?start='+start) : base;
          }catch(e){ return ''; }
        }
        var container=document.getElementById('vod-embed');
        if(container){
          var src=buildEmbed(container.getAttribute('data-vod'));
          if(src){
            var iframe=document.createElement('iframe');
            iframe.src=src;
            iframe.allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share';
            iframe.allowFullscreen=true;
            iframe.frameBorder='0';
            iframe.style.width='100%';
            iframe.style.height='100%';
            iframe.style.display='block';
            container.appendChild(iframe);
          } else {
            container.innerHTML='<div style="color:#bbb; padding:8px;">No VOD available.</div>';
          }
        }
      })();
    </script>
  </div>
  {% endif %}
  
</div>

<div class = "rightimages">
  <div>
    <img align = "right" class = "two" src ="{{ url_for('static', filename='images/{}.png'.format(red[6])) }}">
    <img align = "right" class = "two" src ="{{ url_for('static', filename='images/{}.png'.format(red[7])) }}">
    <img align = "right" class = "two" style="margin-left: 20px;"src ="{{ url_for('static', filename='images/{}.png'.format(red[8])) }}">
    <img align = "right" class = "two" src ="{{ url_for('static', filename='images/{}.png'.format(red[9])) }}">
    <img align = "right" class = "two" src ="{{ url_for('static', filename='images/{}.png'.format(red[10])) }}">
  </div>
  <div class = "redteam">
    {{tourney[2]}}
  </div>
  <div>
    <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[1]) }}">
    <h2>
      <span class ="right" id="6" style='display: none; color: white;'>{{red[11]}}</span>
    </h2>
    </div>
    <div>
    <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[2]) }}">
      <h2>
        
        <span class ="right" id="7" style='display: none; color: white;'>{{red[12]}}</span>
      </h2>
    </div>
    <div>
        <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[3]) }}">
        <h2>
         
          <span class ="right" id="8" style='display: none; color: white;'>{{red[13]}}</span>
        </h2>
    </div>
    <div>
          <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[4]) }}">
          <h2>
            
            <span class ="right" id="9" style='display: none; color: white;'>{{red[14]}}</span>
          </h2>
    </div>
    <div>
            <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[5]) }}">
            <h2>
              
              <span class ="right" id="10" style='display: none; color: white;'>{{red[15]}}</span>
            </h2>
    </div>

</div>
</div>
{% block revealAll %}{% endblock %}
<script>
  //reveals all player names
window.revealText();
//sets the attempt as completed
const check = "{{id}}";
localStorage.setItem('done', check);

//increments on winstreak, games, and wins since the user got the correct answer
var counter = localStorage.getItem('streak');
var gamecounter = localStorage.getItem('numGames');
var wincounter = localStorage.getItem('wins');
var attempts = localStorage.getItem('attempts'+'{{attempts}}')

if (localStorage.getItem('completed') == null){
    localStorage.setItem('streak', ++counter);
    localStorage.setItem('numGames', ++gamecounter);
    localStorage.setItem('wins', ++wincounter);
    localStorage.setItem('attempts'+'{{attempts}}',++attempts);
        
}
//sets the completed as correct to make sure when refreshed it redirects back to this page
localStorage.setItem('completed', 'correct');
console.log(localStorage);
//set the html for the streak and winrates
const element = document.getElementById("streak");
element.innerHTML = "Current streak: " + counter.toString();
document.getElementById("winratio").innerHTML = "Current win rate: " +  wincounter +"/" + gamecounter + "(" + (wincounter/gamecounter*100).toFixed(2) + "%)";

//set values equal to attempt numbers to display in bar graph
attempts1 = localStorage.getItem('attempts1');
attempts2 = localStorage.getItem('attempts2');
attempts3 = localStorage.getItem('attempts3');
attempts4 = localStorage.getItem('attempts4');
attempts5 = localStorage.getItem('attempts5');
failures = localStorage.getItem('failures');
console.log(attempts1);

//bar graph for attempts
Chart.defaults.global.defaultFontColor = "#fff";
var xValues = ["1", "2", "3", "4", "5", "X"];
var yValues = [attempts1 , attempts2, attempts3, attempts4, attempts5, failures];
var barColors = ["green", "green","green","green","green", "red"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Attempt history"
    }
  }
});      
</script>

</body>

</html>