<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
  <section class="content">
    <div style="text-align: center">
        <span style="color: white; font-size: 30px;">{{tourney[1]}} {{tourney[3]}} vs {{tourney[2]}}</span>
        </div>
    </section>
  <section class="content2">
    <div style="text-align: center">
        <span style="color: white; font-size: 30px;">Congratulations you got the correct answer in {{attempts}} attempt(s)</span>
        </div>
  </section>
  </section>
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[6])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[7])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[8])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[9])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[10])) }}">
    
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[6])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[7])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[8])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[9])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[10])) }}">
    <div style="text-align: center">
        <span id = "streak" style="color: white; font-size: 20px;">Current Streak: </span>
        </div>
  
  </section>
  <section class = "topimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[1]) ) }}">
    
    {%block attempts%}{% endblock %}
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[1]) ) }}">
  </section>
  
  <h2>
    
    <p id="1" style='display: none'>Top: {{blue[11]}}</p>
    
    <span class = "right" style="color: white;">
      <p id="6" style='display: none'>Top: {{red[11]}}</p>
    </span>
  </h2 class = "top">
    
  <br><br><section class = "jgimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[2]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[2]) ) }}">
  </section>
  
  <h2 class = "jg">
    
    <p id="2" style='display: none'>Jg: {{blue[12]}}</p>
    
    <span class = "right" style="color: white;">
      <p id="7" style='display: none'>Jg: {{red[12]}}</p>
    </span>
  </h2>
  <br><br><section class = "midimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[3]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[3]) ) }}">
  </section>
  
  <h2 class = "mid">
    
    <p id="3" style='display: none'>Mid: {{blue[13]}}</p>
    
    <span class = "right" style="color: white;">
      <p id="8" style='display: none'>Mid: {{red[13]}}</p>
    </span>
  </h2>
  <br><br><section class = "adcimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[4]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[4]) ) }}">
  </section>
  
    <h2 class = "adc">
    
      <p id="4" style='display: none'>Adc: {{blue[14]}}</p>
      
      <span class = "right" style="color: white;">
        <p id="9" style='display: none'>Adc: {{red[14]}}</p>
      </span>
    </h2>
  
  <br><br><section class = "supimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[5]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[5]) ) }}">
  </section>
  <h2 class = "sup">
    
    <p id="5" style='display: none'>Sup: {{blue[15]}}</p>
    
    <span class = "right" style="color: white;">
      <p id="10" style='display: none'>Sup: {{red[15]}}</p>
    </span>
  </h2>
  <script>
    window.revealText();
    // localStorage.removeItem('completed');
    // localStorage.removeItem('streak');
    const check = "{{id}}";
    localStorage.setItem('done', check);
    var counter = localStorage.getItem('streak');
    if (localStorage.getItem('completed') == null){
        localStorage.setItem('streak', ++counter);
        
    }
    localStorage.setItem('completed', 'correct');
    const savedScores = localStorage.getItem('completed');
    console.log(savedScores);
    const current = localStorage.getItem('streak');
    console.log(current);
    const element = document.getElementById("streak");
    element.innerHTML = "Current streak: " + current.toString();
</script>  
</body>

</html>
