<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
  
  <section class="content">
    <div style="text-align: center">
        <span style="color: white; font-size: 30px;"> Sorry. The correct answer was {{ tourney[1] }} {{ tourney[3] }} vs {{tourney[2]}} </span>
        </div>
    </section>

  
</section>
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[6])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[7])) }}">
    <img class = "one" style="margin-right: 20px;"  src ="{{ url_for('static', filename='images/{}.png'.format(blue[8])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[9])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[10])) }}">
    
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[6])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[7])) }}">
    <img align = "right" style="margin-left: 20px;"class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[8])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[9])) }}">
    <img align = "right" class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(red[10])) }}">
    
  </section>
  <div style="text-align: center">
    <span id = "winratio" style="color: white; font-size: 20px;">Win rate: </span>
</div>


<section class ="guess">
  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</section>

  <section class = "topimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[1]) ) }}">
    
    
    <img align = "right"src="{{ url_for('static',filename='images/{}.png'.format(red[1]) ) }}">
    
  </section>
  

  <section class="guess1">
    
    <div style="text-align: center" class ="guess">
    <span id = "guess1y" style="color: white; font-size: 20px; display: inline;">

    </span> 
    <span id = "guess1t" style="color: white; font-size: 20px; display: inline;">

    </span> 
    <span id = "guess1s" style="color: white; font-size: 20px; display: inline;">
  
    </span> 
    </div>
  </section>


  <h2  class = "top">
    
      <span style="color: white;">Top</span>
      <span id="1" style='display: none; color: white;'>: {{blue[11]}}</span>
   
    
      <span class = "right" id="6" style='display: none; color: white;'>Top: {{red[11]}}</span>
    
  </h2>
   
  
  <section class = "jgimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[2]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[2]) ) }}">
  </section>
  
  
  <section class="guess2">
    <div style="text-align: center" class ="guess">
      <span id = "guess2y" style="color: white; font-size: 20px; display: inline;">
      </span> 
      <span id = "guess2t" style="color: white; font-size: 20px; display: inline;">
      
      </span> 
      <span id = "guess2s" style="color: white; font-size: 20px; display: inline;">
    
      </span> 
      </div>
  </section>


  <h2 class = "jg">
    
      <span style="color: white;">Jg</span>
      <span id="2" style='display: none; color: white;'>: {{blue[12]}}</span>
   
    
      <span class = "right" id="7" style='display: none; color: white;'>Jg: {{red[12]}}</span>
    
  </h2>


  <section class = "midimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[3]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[3]) ) }}">
  </section>
  
  
  <section class="guess3">
    <div style="text-align: center" class ="guess">
      <span id = "guess3y" style="color: white; font-size: 20px; display: inline;">

      </span> 
      <span id = "guess3t" style="color: white; font-size: 20px; display: inline;">
      
      </span> 
      <span id = "guess3s" style="color: white; font-size: 20px; display: inline;">
    
      </span> 
      </div>
  </section>
  <h2 class = "mid">
    
      <span style="color: white;">Mid</span>
      <span id="3" style='display: none; color: white;'>: {{blue[13]}}</span>
    
      <span class = "right" id="8" style='display: none; color: white;'>Mid: {{red[13]}}</span>
  </h2>
  

  <section class = "adcimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[4]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[4]) ) }}">
  </section>
  
  
  <section class="guess4">
    <div style="text-align: center" class ="guess"> 
      <span id = "guess4y" style="color: white; font-size: 20px; display: inline;">
      </span> 
      <span id = "guess4t" style="color: white; font-size: 20px; display: inline;">
      
      </span> 
      <span id = "guess4s" style="color: white; font-size: 20px; display: inline;">
    
      </span> 
      </div>
  </section>


    <h2 class = "adc">
     
        <span style="color: white;">Adc</span>
        <span id="4" style='display: none; color: white;'>: {{blue[14]}}</span>
      
      
        <span class = "right" id="9" style='display: none; color: white;'>Adc: {{red[14]}}</span>
      
    </h2>
  

  <section class = "supimages">
    <img src="{{ url_for('static',filename='images/{}.png'.format(blue[5]) ) }}">
    <img align = "right" src="{{ url_for('static',filename='images/{}.png'.format(red[5]) ) }}">
  </section>

  <section class="guess0">
    <div style="text-align: center">
      <span id = "guess0y" style="color: white; font-size: 20px; display: inline;">
      </span> 
      <span id = "guess0t" style="color: white; font-size: 20px; display: inline;">
      
      </span> 
      <span id = "guess0s" style="color: white; font-size: 20px; display: inline;">
    
      </span> 
      </div>
  </section>


  <h2 class = "sup">
    
      <span style="color: white;">Sup</span>
      <span id="5" style='display: none; color: white;'>: {{blue[15]}}</span>
    
    
      <span class = "right" id="10" style='display: none; color: white;'>Sup: {{red[15]}}</span>
   
  </h2>

<script>
//reveals all player names
window.revealText();
    



//resets streak to 0 as the user got the incorrect answer
localStorage.setItem('streak',0);

// //used in testing
// localStorage.removeItem('completed');


//increments on games but not wins since they got it incorrect
var gamecounter = localStorage.getItem('numGames');
var wincounter = localStorage.getItem('wins');
var wrong = localStorage.getItem('failures');
if (localStorage.getItem('completed') == null){
    localStorage.setItem('numGames', ++gamecounter);
    localStorage.setItem('failures', ++wrong);      
}
//set completed as incorrect to redirect here if user refreshes or goes back to site until site refreshes
localStorage.setItem('completed', 'incorrect');
console.log(localStorage);
//sets the win rate html
document.getElementById("winratio").innerHTML = "Current win rate: " +  wincounter +"/" + gamecounter + "(" + wincounter/gamecounter*100 + "%)";    

//set values equal to attempt numbers to display in bar graph
attempts1 = localStorage.getItem('attempts1');
attempts2 = localStorage.getItem('attempts2');
attempts3 = localStorage.getItem('attempts3');
attempts4 = localStorage.getItem('attempts4');
attempts5 = localStorage.getItem('attempts5');
var failures = localStorage.getItem('failures');

//bar graph for attempts
Chart.defaults.global.defaultFontColor = "#fff";
var xValues = ["1", "2", "3", "4", "5", "X"];
var yValues = [attempts1 , attempts2, attempts3, attempts4, attempts5, failures];
var barColors = ["green", "green","green","green","green", "red"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Attempt history"
    }
  }
});    
</script>

</body>

</html>