<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>

<div class="fullpage">
<div class = "leftimages">
  <div>
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[6])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[7])) }}">
    <img class = "one" style="margin-right: 20px;"  src ="{{ url_for('static', filename='images/{}.png'.format(blue[8])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[9])) }}">
    <img class = "one" src ="{{ url_for('static', filename='images/{}.png'.format(blue[10])) }}">
  </div>
  <div class = "blueteam">
    {{tourney[3]}}
  </div>
  <div>
  <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[1]) }}">
  <h2>
    <span class ="left" id="1" style='display: none; color: white;'>{{blue[11]}}</span>
  </h2>
  </div>
  <div>
    <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[2]) }}">
  <h2 class = "left">
    <span id="2" style='display: none; color: white;'>{{blue[12]}}</span>
  </h2>
  </div>
  <div>
    <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[3]) }}">
  <h2>
    <span class ="left" id="3" style='display: none; color: white;'>{{blue[13]}}</span>
  </h2>
  </div>
  <div>
    <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[4]) }}">
  <h2>
    <span class ="left" id="4" style='display: none; color: white;'>{{blue[14]}}</span>
  </h2>
  </div>
  <div>
    <img class = "blue" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(blue[5]) }}">
  <h2>
    <span class ="left" id="5" style='display: none; color: white;'>{{blue[15]}}</span>
  </h2>
  </div>
</div>
<div class = "guesses">
  <span class="tourney">{{tourney[1]}}</span>
  <span style="color: white; font-size: 30px; background-color: red;">Sorry you did not get the correct answer</span>
  <div style="text-align: center">
      <span id = "winratio" style="color: white; font-size: 20px;">Win rate: </span>
  </div>
  <div>
    <canvas id="myChart" style="width:100%;max-width:600px;height: 300px;"></canvas>
  </div>
  
</div>

<div class = "rightimages">
  <div>
    <img align = "right" class = "two" src ="{{ url_for('static', filename='images/{}.png'.format(red[6])) }}">
    <img align = "right" class = "two" src ="{{ url_for('static', filename='images/{}.png'.format(red[7])) }}">
    <img align = "right" class = "two" style="margin-left: 20px;"src ="{{ url_for('static', filename='images/{}.png'.format(red[8])) }}">
    <img align = "right" class = "two" src ="{{ url_for('static', filename='images/{}.png'.format(red[9])) }}">
    <img align = "right" class = "two" src ="{{ url_for('static', filename='images/{}.png'.format(red[10])) }}">
  </div>
  <div class = "redteam">
    {{tourney[2]}}
  </div>
  <div>
    <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[1]) }}">
    <h2>
      <span class ="right" id="6" style='display: none; color: white;'>{{red[11]}}</span>
    </h2>
    </div>
    <div>
    <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[2]) }}">
      <h2>
        
        <span class ="right" id="7" style='display: none; color: white;'>{{red[12]}}</span>
      </h2>
    </div>
    <div>
        <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[3]) }}">
        <h2>
         
          <span class ="right" id="8" style='display: none; color: white;'>{{red[13]}}</span>
        </h2>
    </div>
    <div>
          <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[4]) }}">
          <h2>
            
            <span class ="right" id="9" style='display: none; color: white;'>{{red[14]}}</span>
          </h2>
    </div>
    <div>
            <img class = "red" src="{{ 'https://ddragon.leagueoflegends.com/cdn/img/champion/centered/{}_0.jpg'.format(red[5]) }}">
            <h2>
              
              <span class ="right" id="10" style='display: none; color: white;'>{{red[15]}}</span>
            </h2>
    </div>

</div>
</div>

<script>
//reveals all player names
window.revealText();
    



//resets streak to 0 as the user got the incorrect answer
localStorage.setItem('streak',0);

// //used in testing
// localStorage.removeItem('completed');


//increments on games but not wins since they got it incorrect
var gamecounter = localStorage.getItem('numGames');
var wincounter = localStorage.getItem('wins');
var wrong = localStorage.getItem('failures');
if (localStorage.getItem('completed') == null){
    localStorage.setItem('numGames', ++gamecounter);
    localStorage.setItem('failures', ++wrong);      
}
//set completed as incorrect to redirect here if user refreshes or goes back to site until site refreshes
localStorage.setItem('completed', 'incorrect');
console.log(localStorage);
//sets the win rate html
document.getElementById("winratio").innerHTML = "Current win rate: " +  wincounter +"/" + gamecounter + "(" + (wincounter/gamecounter*100).toFixed(2) + "%)";    

//set values equal to attempt numbers to display in bar graph
attempts1 = localStorage.getItem('attempts1');
attempts2 = localStorage.getItem('attempts2');
attempts3 = localStorage.getItem('attempts3');
attempts4 = localStorage.getItem('attempts4');
attempts5 = localStorage.getItem('attempts5');
var failures = localStorage.getItem('failures');

//bar graph for attempts
Chart.defaults.global.defaultFontColor = "#fff";
var xValues = ["1", "2", "3", "4", "5", "X"];
var yValues = [attempts1 , attempts2, attempts3, attempts4, attempts5, failures];
var barColors = ["green", "green","green","green","green", "red"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Attempt history"
    }
  }
});    
</script>

</body>

</html>