{% extends 'base.html' %}
{% block content %}
<form method="post" id = "tournament_field">
    <div class="select" >
        <select data-placeholder= "Select a tournament" name = "tournament", id = "tournament", class = "search", style = "width: 200px;">
            <option value = ""></option>
            {% for i in listoftourney %}
            <option id = "option" value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>    
<script type="text/javascript">
$(function() {
    $(".search").chosen();
});
</script>
{% endblock %}
{%block content2 %}
{% endblock %}

{%block attempts%}
<div style="text-align: center" >
    <span style="color: white; font-size: 20px;">
         Attempts remaining: {{attempts}} 
    </span>
</div>

{% endblock %}
{%block revealAll%}
<script>
    let items = "{{correct_items}}";
    let guessnumber = "{{tries}}";
   
    yearBool = "";
    tourneyBool = "";
    seasonBool = "";
    if ('{{correctyear}}' != ""){
        if ('{{correctyear}}' == '{{inputyear}}'){
            yearBool = "green";
        }
        else if (Number('{{correctyear}}') < Number('{{inputyear}}')){
            yearBool = "lower";
        }
        else{
            yearBool = "higher";
        }
        if ('{{correct_league}}' == '{{inputleague}}'){
            tourneyBool = "green";
        }
        else{
            tourneyBool = "red";
        }
        if ('{{correct_season}}' == '{{inputseason}}'){
            seasonBool = "green";
        }
        else{
            seasonBool = "red";
        }
    }
    
  
    //console.log(sessionStorage);
    sessionStorage.setItem(guessnumber+'y',yearBool);
    sessionStorage.setItem(guessnumber+'t',tourneyBool);
    sessionStorage.setItem(guessnumber+'s',seasonBool);
    guessnumber = 'guess'+guessnumber;
   
    sessionStorage.setItem(guessnumber+'y','{{inputyear}}');
    sessionStorage.setItem(guessnumber+'t','{{inputleague}}');
    sessionStorage.setItem(guessnumber+'s','{{inputseason}}');
 
    for (var i = 0; i < sessionStorage.length; i++){
        if (sessionStorage.key(i).includes("guess")){
            document.getElementById(sessionStorage.key(i)).innerText = sessionStorage.getItem(sessionStorage.key(i));
        }
        else if (sessionStorage.getItem(sessionStorage.key(i)) == "green"){
            document.getElementById("guess" + sessionStorage.key(i)).classList.add("same");
        }
        else if (sessionStorage.getItem(sessionStorage.key(i)) == "red"){
            
            document.getElementById("guess" + sessionStorage.key(i)).classList.add("notSame");
        }
        else if (sessionStorage.getItem(sessionStorage.key(i)) == "lower"){
            
            document.getElementById("guess" + sessionStorage.key(i)).classList.add("lower");
        }
        else if (sessionStorage.getItem(sessionStorage.key(i)) == "higher"){
            
            document.getElementById("guess" + sessionStorage.key(i)).classList.add("higher");
        }
        else if (sessionStorage.getItem(sessionStorage.key(i)) == "bluebutton"){
            window.toggleText('{{randomblue}}');
        }
        else if (sessionStorage.getItem(sessionStorage.key(i)) == "redbutton"){
            window.toggleText2('{{randomred}}');
        }
    }
</script>

{%endblock%}